src/lead_sendler_workflow.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "seconds",
                "secondsInterval": 15
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          96,
          -192
        ],
        "id": "54e9518a-f08d-4897-8bd2-1228623d8cfa",
        "name": "schedule_trig"
      },
      {
        "parameters": {
          "url": "https://api.invertexto.com/v1/faker",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "locale",
                "value": "pt_BR"
              },
              {
                "name": "fields",
                "value": "name,cpf,email,"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          304,
          -192
        ],
        "id": "f666c826-5b00-4cfe-b239-6d1e1efacb79",
        "name": "get_lead_data",
        "credentials": {
          "httpBearerAuth": {
            "id": "OGWe8RS5ZSSfbGjS",
            "name": "faker_api_auth"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const ceps = [\n    88010000,\n    88010001,\n    88010002,\n    88010010,\n    88010020,\n    88010030,\n    88010040,\n    88010050,\n    88010055,\n    88010060,\n    88010070,\n    88010080,\n    88010090,\n    88010095,\n    88010100,\n    88010102,\n    88010110,\n    88010120,\n    88010130,\n    88010135,\n    88010140,\n    88010145,\n    88010150,\n    88010155,\n    88010200,\n    88010210,\n    88010220,\n    88010225,\n    88010230,\n    88010235,\n    88010240,\n    88010245,\n    88010250,\n    88010260,\n    88010270,\n    88010272,\n    88010278,\n    88010280,\n    88010290,\n    88010291,\n    88010295,\n    88010299,\n    88010300,\n    88010301,\n    88010310,\n    88010320,\n    88010400,\n    88010405,\n    88010410,\n    88010420,\n    88010430,\n    88010440,\n    88010450,\n    88010472,\n    88010500,\n    88010510,\n    88010520,\n    88010530,\n    88010540,\n    88010550,\n    88010560,\n    88010901,\n    88010902,\n    88010903,\n    88010904,\n    88010905,\n    88010906,\n    88010907,\n    88010913,\n    88010914,\n    88010915,\n    88010920,\n    88010970,\n    88010975,\n    88010976,\n    88015000,\n    88015010,\n    88015020,\n    88015030,\n    88015050,\n    88015060,\n    88015070,\n    88015080,\n    88015090,\n    88015100,\n    88015110,\n    88015120,\n    88015130,\n    88015140,\n    88015150,\n    88015160,\n    88015170,\n    88015179,\n    88015180,\n    88015185,\n    88015190,\n    88015195,\n    88015200,\n    88015201,\n    88015202,\n    88015203,\n    88015204,\n    88015205,\n    88015210,\n    88015220,\n    88015230,\n    88015231,\n    88015240,\n    88015245,\n    88015250,\n    88015260,\n    88015270,\n    88015280,\n    88015290,\n    88015300,\n    88015310,\n    88015320,\n    88015330,\n    88015340,\n    88015345,\n    88015350,\n    88015360,\n    88015380,\n    88015390,\n    88015395,\n    88015400,\n    88015408,\n    88015410,\n    88015415,\n    88015420,\n    88015425,\n    88015430,\n    88015440,\n    88015450,\n    88015455,\n    88015460,\n    88015470,\n    88015480,\n    88015490,\n    88015500,\n    88015505,\n    88015510,\n    88015520,\n    88015530,\n    88015540,\n    88015550,\n    88015560,\n    88015570,\n    88015600,\n    88015601,\n    88015605,\n    88015610,\n    88015615,\n    88015620,\n    88015630,\n    88015640,\n    88015645,\n    88015650,\n    88015660,\n    88015670,\n    88015680,\n    88015700,\n    88015701,\n    88015702,\n    88015705,\n    88015706,\n    88015710,\n    88015720,\n    88015900,\n    88015902,\n    88015903,\n    88015904,\n    88015905,\n    88015906,\n    88015973,\n    88015974,\n    88015975,\n    88015976,\n    88020000,\n    88020001,\n    88020007,\n    88020008,\n    88020010,\n    88020015,\n    88020016,\n    88020020,\n    88020025,\n    88020030,\n    88020040,\n    88020050,\n    88020060,\n    88020070,\n    88020080,\n    88020090,\n    88020095,\n    88020100,\n    88020110,\n    88020120,\n    88020130,\n    88020133,\n    88020135,\n    88020140,\n    88020150,\n    88020160,\n    88020164,\n    88020170,\n    88020174,\n    88020175,\n    88020178,\n    88020180,\n    88020183,\n    88020185,\n    88020187,\n    88020188,\n    88020199,\n    88020200,\n    88020202,\n    88020210,\n    88020219,\n    88020220,\n    88020221,\n    88020222,\n    88020223,\n    88020224,\n    88020225,\n    88020227,\n    88020228,\n    88020229,\n    88020230,\n    88020240,\n    88020242,\n    88020243,\n    88020245,\n    88020250,\n    88020252,\n    88020260,\n    88020262,\n    88020270,\n    88020271,\n    88020272,\n    88020273,\n    88020275,\n    88020280,\n    88020281,\n    88020282,\n    88020285,\n    88020287,\n    88020290,\n    88020292,\n    88020300,\n    88020301,\n    88020302,\n    88020303,\n    88020304,\n    88020305,\n    88020310,\n    88020313,\n    88020315,\n    88020320,\n    88020330,\n    88020331,\n    88020335,\n    88020340,\n    88020342,\n    88020343,\n    88020344,\n    88020345,\n    88020346,\n    88020347,\n    88020348,\n    88020350,\n    88020355,\n    88020360,\n    88020364,\n    88020365,\n    88020400,\n    88020410,\n    88020420,\n    88020422,\n    88020425,\n    88020426,\n    88020427,\n    88020429,\n    88020430,\n    88020432,\n    88020435,\n    88020437,\n    88020440,\n    88020441,\n    88020442,\n    88020443,\n    88020445,\n    88020450,\n    88020460,\n    88020465,\n    88020470,\n    88020475,\n    88020477,\n    88020480,\n    88020500,\n    88020510,\n    88020520,\n    88020530,\n    88020535,\n    88020540,\n    88020550,\n    88020552,\n    88020560,\n    88020565,\n    88020570,\n    88020600,\n    88020610,\n    88020620,\n    88020630,\n    88020640,\n    88020650,\n    88020655,\n    88020660,\n    88020670,\n    88020675,\n    88020680,\n    88020700,\n    88020710,\n    88020715,\n    88020720,\n    88020730,\n    88020735,\n    88020740,\n    88020750,\n    88020753,\n    88020760,\n    88020770,\n    88020780,\n    88020782,\n    88020900,\n    88020901,\n    88020970,\n    88021000,\n    88021005,\n    88021010,\n    88021015,\n    88021019,\n    88021023,\n    88021025,\n    88021027,\n    88021031,\n    88021035,\n    88021038,\n    88021039,\n    88021050,\n    88021053,\n    88021056,\n    88021059,\n    88021062,\n    88021064,\n    88021065,\n    88025000,\n    88025002,\n    88025005,\n    88025010,\n    88025015,\n    88025018,\n    88025020,\n    88025025,\n    88025028,\n    88025030,\n    88025032,\n    88025035,\n    88025040,\n    88025045,\n    88025050,\n    88025055,\n    88025058,\n    88025060,\n    88025070,\n    88025080,\n    88025090,\n    88025092,\n    88025095,\n    88025097,\n    88025100,\n    88025110,\n    88025120,\n    88025125,\n    88025130,\n    88025135,\n    88025140,\n    88025150,\n    88025152,\n    88025155,\n    88025160,\n    88025165,\n    88025170,\n    88025172,\n    88025175,\n    88025180,\n    88025190,\n    88025195,\n    88025200,\n    88025201,\n    88025202,\n    88025204,\n    88025210,\n    88025211,\n    88025212,\n    88025213,\n    88025214,\n    88025215,\n    88025216,\n    88025217,\n    88025218,\n    88025219,\n    88025220,\n    88025221,\n    88025222,\n    88025223,\n    88025224,\n    88025225,\n    88025228,\n    88025230,\n    88025235,\n    88025240,\n    88025245,\n    88025250,\n    88025255,\n    88025260,\n    88025300,\n    88025301,\n    88025310,\n    88025315,\n    88025316,\n    88025317,\n    88025318,\n    88025320,\n    88025325,\n    88025326,\n    88025330,\n    88025332,\n    88025338,\n    88025340,\n    88025345,\n    88025350,\n    88025353,\n    88025356,\n    88025360,\n    88025370,\n    88025380,\n    88025400,\n    88025408,\n    88025410,\n    88025420,\n    88025430,\n    88025440,\n    88025450,\n    88025460,\n    88025500,\n    88025510,\n    88025520,\n    88025521,\n    88025523,\n    88025525,\n    88025530,\n    88025535,\n    88025540,\n    88025542,\n    88025544,\n    88025547,\n    88025550,\n    88025560,\n    88025565,\n    88025570,\n    88025900,\n    88030000,\n    88030010,\n    88030020,\n    88030030,\n    88030035,\n    88030040,\n    88030045,\n    88030050,\n    88030100,\n    88030110,\n    88030112,\n    88030115,\n    88030120,\n    88030130,\n    88030140,\n    88030150,\n    88030160,\n    88030170,\n    88030175,\n    88030300,\n    88030310,\n    88030312,\n    88030315,\n    88030320,\n    88030321,\n    88030322,\n    88030330,\n    88030350,\n    88030353,\n    88030354,\n    88030355,\n    88030357,\n    88030358,\n    88030359,\n    88030360,\n    88030361,\n    88030363,\n    88030365,\n    88030367,\n    88030370,\n    88030380,\n    88030383,\n    88030390,\n    88030393,\n    88030400,\n    88030410,\n    88030420,\n    88030425,\n    88030440,\n    88030460,\n    88030465,\n    88030470,\n    88030480,\n    88030490,\n    88030500,\n    88030505,\n    88030510,\n    88030520,\n    88030530,\n    88030540,\n    88030620,\n    88030625,\n    88030630,\n    88030635,\n    88030640,\n    88030660,\n    88030680,\n    88030900,\n    88030901,\n    88030902,\n    88030903,\n    88030904,\n    88030905,\n    88030906,\n    88030907,\n    88030908,\n    88030909,\n    88030910,\n    88030911,\n    88030912,\n    88030913,\n    88032000,\n    88032001,\n    88032003,\n    88032004,\n    88032005,\n    88032007,\n    88032010,\n    88032020,\n    88032027,\n    88032030,\n    88032035,\n    88032037,\n    88032040,\n    88032050,\n    88032060,\n    88032088,\n    88032090,\n    88032092,\n    88032100,\n    88032101,\n    88032103,\n    88032105,\n    88032110,\n    88032115,\n    88032120,\n    88032140,\n    88032143,\n    88032150,\n    88032160,\n    88032195,\n    88032200,\n    88032210,\n    88032215,\n    88032225,\n    88032228,\n    88032230,\n    88032243,\n    88032249,\n    88032250,\n    88032253,\n    88032260,\n    88032270,\n    88032272,\n    88032275,\n    88032290,\n    88032295,\n    88032300,\n    88032301,\n    88032305,\n    88032310,\n    88032315,\n    88032320,\n    88032325,\n    88032330,\n    88032335,\n    88032337,\n    88032340,\n    88032350,\n    88032360,\n    88032370,\n    88032400,\n    88032405,\n    88032410,\n    88032420,\n    88032430,\n    88032440,\n    88032450,\n    88032460,\n    88032470,\n    88032480,\n    88032490,\n    88032500,\n    88032505,\n    88032510,\n    88032520,\n    88032530,\n    88032540,\n    88032550,\n    88032560,\n    88032570,\n    88032600,\n    88032615,\n    88032620,\n    88032621,\n    88032640,\n    88032645,\n    88032647,\n    88032648,\n    88032653,\n    88032654,\n    88032655,\n    88032657,\n    88032659,\n    88032660,\n    88032663,\n    88032665,\n    88032668,\n    88032675,\n    88032677,\n    88032679,\n    88032681,\n    88032683,\n    88032685,\n    88032687,\n    88032689,\n    88032700,\n    88032710,\n    88032720,\n    88032730,\n    88032735,\n    88032740,\n    88032760,\n    88032762,\n    88032765,\n    88032900,\n    88034000,\n    88034001,\n    88034040,\n    88034050,\n    88034070,\n    88034080,\n    88034090,\n    88034098,\n    88034100,\n    88034101,\n    88034102,\n    88034110,\n    88034120,\n    88034125,\n    88034130,\n    88034132,\n    88034135,\n    88034140,\n    88034150,\n    88034160,\n    88034165,\n    88034166,\n    88034170,\n    88034180,\n    88034200,\n    88034210,\n    88034220,\n    88034230,\n    88034240,\n    88034250,\n    88034255,\n    88034257,\n    88034260,\n    88034265,\n    88034270,\n    88034280,\n    88034300,\n    88034310,\n    88034330,\n    88034335,\n    88034340,\n    88034345,\n    88034350,\n    88034351,\n    88034352,\n    88034353,\n    88034354,\n    88034355,\n    88034356,\n    88034357,\n    88034358,\n    88034359,\n    88034360,\n    88034365,\n    88034370,\n    88034375,\n    88034378,\n    88034380,\n    88034382,\n    88034385,\n    88034386,\n    88034387,\n    88034388,\n    88034389,\n    88034390,\n    88034395,\n    88034400,\n    88034401,\n    88034403,\n    88034410,\n    88034420,\n    88034430,\n    88034440,\n    88034450,\n    88034460,\n    88034470,\n    88034480,\n    88034490,\n    88034495,\n    88034496,\n    88034497,\n    88034500,\n    88034510,\n    88034520,\n    88034530,\n    88034540,\n    88034550,\n    88034560,\n    88034570,\n    88034580,\n    88034585,\n    88034587,\n    88034595,\n    88034600,\n    88034605,\n    88034610,\n    88034620,\n    88034650,\n    88034653,\n    88034655,\n    88034680,\n    88034685,\n    88034688,\n    88034700,\n    88034710,\n    88034720,\n    88034730,\n    88034740,\n    88034750,\n    88034760,\n    88034900,\n    88034901,\n    88034902,\n    88035000,\n    88035001,\n    88035005,\n    88035010,\n    88035012,\n    88035015,\n    88035020,\n    88035030,\n    88035040,\n    88035050,\n    88035060,\n    88035080,\n    88035090,\n    88035095,\n    88035100,\n    88035110,\n    88035111,\n    88035115,\n    88035120,\n    88035125,\n    88035130,\n    88035140,\n    88035150,\n    88035160,\n    88035200,\n    88035210,\n    88035215,\n    88035230,\n    88035235,\n    88035240,\n    88035245,\n    88035250,\n    88035260,\n    88035265,\n    88035300,\n    88035320,\n    88035330,\n    88035340,\n    88035345,\n    88035350,\n    88035355,\n    88035400,\n    88035410,\n    88035420,\n    88035430,\n    88035440,\n    88035450,\n    88035900,\n    88035901,\n    88035970,\n    88035971,\n    88036000,\n    88036001,\n    88036002,\n    88036003,\n    88036005,\n    88036010,\n    88036015,\n    88036020,\n    88036030,\n    88036032,\n    88036040,\n    88036045,\n    88036050,\n    88036060,\n    88036070,\n    88036080,\n    88036085,\n    88036090,\n    88036110,\n    88036115,\n    88036120,\n    88036125,\n    88036127,\n    88036130,\n    88036135,\n    88036140,\n    88036150,\n    88036160,\n    88036205,\n    88036210,\n    88036220,\n    88036225,\n    88036230,\n    88036235,\n    88036240,\n    88036250,\n    88036260,\n    88036270,\n    88036280,\n    88036300,\n    88036310,\n    88036320,\n    88036330,\n    88036335,\n    88036340,\n    88036345,\n    88036350,\n    88036360,\n    88036370,\n    88036380,\n    88036385,\n    88036400,\n    88036410,\n    88036420,\n    88036430,\n    88036500,\n    88036510,\n    88036520,\n    88036530,\n    88036540,\n    88036550,\n    88036560,\n    88036570,\n    88036580,\n    88036590,\n    88036595,\n    88036598,\n    88036600,\n    88036605,\n    88036610,\n    88036615,\n    88036620,\n    88036630,\n    88036635,\n    88036640,\n    88036642,\n    88036644,\n    88036645,\n    88036646,\n    88036650,\n    88036655,\n    88036670,\n    88036680,\n    88036700,\n    88036750,\n    88036800,\n    88036972,\n    88037000,\n    88037001,\n    88037010,\n    88037015,\n    88037020,\n    88037027,\n    88037030,\n    88037040,\n    88037045,\n    88037050,\n    88037060,\n    88037065,\n    88037070,\n    88037075,\n    88037080,\n    88037083,\n    88037085,\n    88037100,\n    88037110,\n    88037120,\n    88037130,\n    88037140,\n    88037145,\n    88037150,\n    88037200,\n    88037210,\n    88037220,\n    88037230,\n    88037240,\n    88037245,\n    88037250,\n    88037252,\n    88037255,\n    88037260,\n    88037270,\n    88037280,\n    88037290,\n    88037295,\n    88037300,\n    88037305,\n    88037310,\n    88037315,\n    88037320,\n    88037325,\n    88037330,\n    88037335,\n    88037340,\n    88037345,\n    88037360,\n    88037365,\n    88037370,\n    88037375,\n    88037380,\n    88037385,\n    88037388,\n    88037390,\n    88037395,\n    88037400,\n    88037404,\n    88037406,\n    88037408,\n    88037410,\n    88037415,\n    88037416,\n    88037430,\n    88037450,\n    88037460,\n    88037465,\n    88037470,\n    88037480,\n    88037490,\n    88037495,\n    88037500,\n    88037520,\n    88037525,\n    88037530,\n    88037540,\n    88037542,\n    88037547,\n    88037600,\n    88037602,\n]\n\nfunction getRandomCep() {\n  const index = Math.floor(Math.random() * ceps.length);\n  return ceps[index];\n}\n\nreturn [\n  {\n    json: {\n      lead: {\n        name: $input.first().json.name,\n        cpf: $input.first().json.cpf,\n        email: $input.first().json.email,\n        cep: String(getRandomCep())\n      } \n    }\n  }\n]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          -288
        ],
        "id": "bd9f4462-0ea0-4b0c-a108-9afb2319f83f",
        "name": "get_random_cep"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://N1_negocios_n8n:5678/webhook/lead",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": []
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": {{ $json.lead.name.toJsonString() }},\n  \"email\": {{ $json.lead.email.toJsonString() }},\n  \"cpf\": {{ $json.lead.cpf.toJsonString() }},\n  \"cep\": {{ $json.lead.cep }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          720,
          -288
        ],
        "id": "d4397f04-db74-4150-88c7-78db62663c2e",
        "name": "send_lead_to_webhook"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "error_logs",
          "messageData": "={{ $json.error_log.toJsonString() }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          720,
          -96
        ],
        "id": "ae15697a-6d7d-46a0-a35c-7c5e0e730006",
        "name": "log_error",
        "credentials": {
          "redis": {
            "id": "3UvSovRAwaiQe2rV",
            "name": "app_cache"
          }
        }
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  error_log: {\n    \"service\": \"faker_api\",\n    \"output\": {{ $json.toJsonString() }},\n    \"timestamp\": {{ $now.toUTC() }}\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          544,
          -96
        ],
        "id": "72213627-1c37-43d7-a7cf-b2b28b650a17",
        "name": "format_error"
      }
    ],
    "connections": {
      "schedule_trig": {
        "main": [
          [
            {
              "node": "get_lead_data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_lead_data": {
        "main": [
          [
            {
              "node": "get_random_cep",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "format_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_random_cep": {
        "main": [
          [
            {
              "node": "send_lead_to_webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "format_error": {
        "main": [
          [
            {
              "node": "log_error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "1aea90b52e2e83e430f4af89ef5f1e2dc78c47047ff931389bbc349e3f705bc8"
    }
  }