src/main_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -144
      ],
      "id": "1e54b327-342f-4b86-aab7-df93aca88396",
      "name": "webhook_trig",
      "webhookId": "3fd33449-5f78-48b9-8bee-5f50366b3438",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1376,
        -352
      ],
      "id": "1f2137e4-34dc-48e6-9f2b-ddff8cc14168",
      "name": "success_response"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads",
          "mode": "list",
          "cachedResultName": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('validate_input').item.json.data.name }}",
            "email": "={{ $('validate_input').item.json.data.email }}",
            "cpf": "={{ $('validate_input').item.json.data.cpf }}",
            "cep": "={{ $('validate_input').item.json.data.cep }}",
            "status": "LEAD_VALID"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cep",
              "displayName": "cep",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "street",
              "displayName": "street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "LEAD_ERROR",
                  "value": "LEAD_ERROR"
                },
                {
                  "name": "LEAD_VALID",
                  "value": "LEAD_VALID"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        -240
      ],
      "id": "33a4324c-fd1f-46f6-8bbf-5a8ee2c801bf",
      "name": "persist_lead",
      "credentials": {
        "postgres": {
          "id": "MNh1rD5iveBlCkyY",
          "name": "postgres_app_db"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// Field formatting helpers\n// ==========================================\n\n// Formats a CPF as 000.000.000-00.\nconst formatCPF = (value) => {\n  const digits = String(value ?? '').replace(/\\D/g, '');\n  if (digits.length !== 11) return value;\n  return digits.replace(/^(\\d{3})(\\d{3})(\\d{3})(\\d{2})$/, '$1.$2.$3-$4');\n};\n\n// Formats a CEP as 00000-000.\nconst formatCEP = (value) => {\n  const digits = String(value ?? '').replace(/\\D/g, '');\n  if (digits.length !== 8) return value;\n  return digits.replace(/^(\\d{5})(\\d{3})$/, '$1-$2');\n};\n\n// ==========================================\n// Response normalization\n// ==========================================\n\n// Formats every returned row from PostgreSQL for the webhook response.\nreturn $input.all().map((item) => {\n  const lead = item.json;\n\n  return {\n    json: {\n      ...lead,\n      cpf: formatCPF(lead.cpf),\n      cep: formatCEP(lead.cep),\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -352
      ],
      "id": "551c7a1d-6e4a-4770-9e85-0b7dde8c67aa",
      "name": "format_response"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// Validation and normalization helpers\n// ==========================================\nconst validators = {\n    // Validates whether the value is a string containing a reasonable email format.\n    isEmail: (value) =>\n      typeof value === 'string' &&\n      /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(value.trim()),\n  \n    // Validates whether the value contains exactly 8 numeric digits after normalization.\n    isCEP: (value) => {\n      if (typeof value !== 'string') return false;\n      const digits = value.replace(/\\D/g, '');\n      return /^\\d{8}$/.test(digits);\n    },\n  \n    // Validates a CPF using digit verification rules after removing all non-digit characters.\n    isCPF: (value) => {\n      if (typeof value !== 'string') return false;\n  \n      const clean = value.replace(/\\D/g, '');\n  \n      // CPF must contain exactly 11 digits.\n      if (clean.length !== 11) return false;\n  \n      // Reject repeated digit sequences such as 11111111111.\n      if (/^(\\d)\\1{10}$/.test(clean)) return false;\n  \n      const digits = clean.split('').map(Number);\n  \n      // Computes weighted sum for CPF check digits.\n      const calc = (values, factor) =>\n        values.reduce((sum, digit, index) => sum + digit * (factor - index), 0);\n  \n      // First verification digit.\n      const remainder1 = calc(digits.slice(0, 9), 10) % 11;\n      const digit1 = remainder1 < 2 ? 0 : 11 - remainder1;\n  \n      // Second verification digit.\n      const remainder2 = calc(digits.slice(0, 10), 11) % 11;\n      const digit2 = remainder2 < 2 ? 0 : 11 - remainder2;\n  \n      return digit1 === digits[9] && digit2 === digits[10];\n    },\n  };\n  \n  // ==========================================\n  // Input extraction and basic payload validation\n  // ==========================================\n  \n  // Reads the first incoming item body from n8n.\n  const input = $input.first()?.json?.body;\n  \n  // Ensures the webhook payload body is a valid JSON object.\n  if (!input || typeof input !== 'object' || Array.isArray(input)) {\n    return [\n      {\n        json: {\n          success: false,\n          errorCode: 'INVALID_BODY',\n          errors: {\n            body: 'Request body must be a valid JSON object.',\n          },\n          data: null,\n        },\n      },\n    ];\n  }\n  \n  const errors = {};\n  \n  // ==========================================\n  // Field normalization\n  // ==========================================\n  \n  // Normalizes the name by trimming surrounding whitespace.\n  const name = typeof input.name === 'string' ? input.name.trim() : '';\n  \n  // Normalizes the email by trimming whitespace and converting to lowercase.\n  const email = typeof input.email === 'string' ? input.email.trim().toLowerCase() : '';\n  \n  // Normalizes CPF by removing every non-digit character.\n  const cpf = String(input.cpf ?? '').replace(/\\D/g, '');\n  \n  // Normalizes CEP by removing every non-digit character.\n  const cep = String(input.cep ?? '').replace(/\\D/g, '');\n  \n// ==========================================\n// Field validation: name\n// ==========================================\n\n// Validates that the name is present after trimming.\nif (!name) {\n  errors.name = 'Name is required.';\n} else if (name.length < 2) {\n  // Validates minimum name length.\n  errors.name = 'Name must contain at least 2 characters.';\n} else if (name.length > 255) {\n  // Validates maximum name length.\n  errors.name = 'Name must not exceed 255 characters.';\n} else if (/\\s{2,}/.test(name)) {\n  // Rejects consecutive internal whitespace.\n  errors.name = 'Name must not contain repeated spaces.';\n} else {\n  const parts = name.split(/\\s+/);\n\n  const isAbbreviation = /^(Dr|Dra|Sr|Sra|Jr|Prof|Profa|Filho|Neto|Sobrinho)\\.$/i;\n  const isParticle = /^(de|da|do|das|dos|e)$/i;\n  const isNamePart = /^[A-Za-zÀ-ÖØ-öø-ÿ]+(?:[-'][A-Za-zÀ-ÖØ-öø-ÿ]+)*\\.?$/;\n\n  const valid = parts.every((part) => {\n    if (isParticle.test(part)) return true;\n    if (isAbbreviation.test(part)) return true;\n    return isNamePart.test(part);\n  });\n\n  if (!valid) {\n    // Validates allowed human-name characters.\n    errors.name = 'Name contains invalid characters.';\n  }\n}\n  \n  // ==========================================\n  // Field validation: email\n  // ==========================================\n  \n  // Validates that the email is present.\n  if (!email) {\n    errors.email = 'Email is required.';\n  } else if (email.length > 255) {\n    // Validates maximum email length.\n    errors.email = 'Email must not exceed 255 characters.';\n  } else if (!validators.isEmail(email)) {\n    // Validates email format.\n    errors.email = 'Invalid email address.';\n  }\n  \n  // ==========================================\n  // Field validation: CPF\n  // ==========================================\n  \n  // Validates that the CPF is present.\n  if (!cpf) {\n    errors.cpf = 'CPF is required.';\n  } else if (cpf.length !== 11) {\n    // Validates exact CPF digit length after normalization.\n    errors.cpf = 'CPF must contain exactly 11 digits.';\n  } else if (!validators.isCPF(cpf)) {\n    // Validates CPF verification digits.\n    errors.cpf = 'Invalid CPF.';\n  }\n  \n  // ==========================================\n  // Field validation: CEP\n  // ==========================================\n  \n  // Validates that the CEP is present.\n  if (!cep) {\n    errors.cep = 'CEP is required.';\n  } else if (cep.length !== 8) {\n    // Validates exact CEP digit length after normalization.\n    errors.cep = 'CEP must contain exactly 8 digits.';\n  } else if (!validators.isCEP(cep)) {\n    // Validates CEP numeric format after normalization.\n    errors.cep = 'Invalid CEP.';\n  }\n  \n  // ==========================================\n  // Standardized response\n  // ==========================================\n  \n  const isValid = Object.keys(errors).length === 0;\n  \n  return [\n    {\n      json: {\n        success: isValid,\n        status: isValid ? \"VALID_LEAD_DATA\" : \"INVALID_LEAD_DATA\",\n        errorCode: isValid ? null : 'VALIDATION_ERROR',\n        errors: isValid ? null : errors,\n        data: isValid\n          ? {\n              // Returns normalized values only when the payload is valid.\n              name,\n              email,\n              cpf,\n              cep,\n            }\n          : null,\n      },\n    },\n  ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -144
      ],
      "id": "39c117a5-5d8a-482b-8d7c-57031ab73af4",
      "name": "validate_input"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:cpf:{{ $('validate_input').item.json.data.cpf }}",
        "keyType": "string",
        "expire": true,
        "ttl": 15
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1184,
        -160
      ],
      "id": "510a4bb1-5ef7-463b-8f9a-6a0ced2c29f0",
      "name": "cache_lead_cpf",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:email:{{ $('validate_input').item.json.data.email }}",
        "keyType": "string",
        "expire": true,
        "ttl": 15
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1184,
        32
      ],
      "id": "bf39df0a-9635-48ba-9b6f-1865f7c0cd8a",
      "name": "cache_lead_email",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:cpf:{{ $('validate_input').item.json.data.cpf }}",
        "keyType": "string",
        "expire": true,
        "ttl": 15
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        784,
        -352
      ],
      "id": "d0d9059a-93f1-45f8-9175-70f57fb4b3ab",
      "name": "cache_lead_cpf_after_persist",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=lock:email:{{ $('validate_input').item.json.data.email }}",
        "keyType": "string",
        "expire": true,
        "ttl": 15
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        992,
        -352
      ],
      "id": "76aa5cbf-ef43-49e4-a05e-e4da37b65e5f",
      "name": "cache_lead_email_after_persist",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "8d310e1e-26a2-4eff-8f4f-ce05b5dc361e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "073e37b7-fa56-4105-9ac8-74996f0be24a",
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_invalid"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -272,
        -144
      ],
      "id": "8ab0177c-b493-49b5-b69a-98aebb0665a1",
      "name": "check_input"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -48,
        -48
      ],
      "id": "447e6d6d-c096-4be4-8a98-d95753831d37",
      "name": "send_invalid_response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c16934d5-a070-4b3a-97e9-c2ddd8392c84",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "duplicate key value violates unique constraint \"uq_leads_cpf\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cpf_duplication_error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "db11824e-6f5c-4b00-8a72-54db2168d3c6",
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "duplicate key value violates unique constraint \"uq_leads_email\"",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email_duplication_error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "776bdc4a-7f2d-41a3-a07d-64b0e6032c27"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unknow_error"
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        784,
        -144
      ],
      "id": "bcbe8f53-689c-4514-b96a-1d599fdffbe9",
      "name": "check_persist_lead_error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"success\": false,\n    \"status\": \"DUPLICATED\",\n    \"errorCode\": \"LEAD_CPF_DUPLICATED\",\n    \"errors\": {\n        \"cpf\": \"A lead with this CPF already exists.\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1376,
        -160
      ],
      "id": "5afa709b-6bb6-4e4e-a933-c7ce4f155aab",
      "name": "send_cpf_duplicated_response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"success\": false,\n    \"status\": \"DUPLICATED\",\n    \"errorCode\": \"LEAD_EMAIL_DUPLICATED\",\n    \"errors\": {\n        \"email\": \"A lead with this email already exists.\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1376,
        32
      ],
      "id": "19bb4caf-7ebd-45ea-9358-de39ada3d671",
      "name": "send_email_duplicated_response"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "email",
        "key": "=lock:email:{{ $('validate_input').item.json.data.email }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        128,
        -224
      ],
      "id": "343df835-fcc1-4109-ad93-4dc7e0af1975",
      "name": "check_lead_email",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "cpf",
        "key": "=lock:cpf:{{ $('validate_input').item.json.data.cpf }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -48,
        -224
      ],
      "id": "d07ff032-06bd-489c-95f1-5177411ac347",
      "name": "check_lead_cpf",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false,
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ad49955-6a75-45e0-9dd5-c32340e15db0",
              "leftValue": "={{ $('check_lead_cpf').item.json.cpf === null && $('check_lead_email').item.json.email === null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        -224
      ],
      "id": "15f66479-4ea9-4cf0-9172-c1843da2dcde",
      "name": "check_duplication"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('check_lead_cpf').item.json.cpf !== null\n? {\n    success: false,\n    status: \"DUPLICATED\",\n    errorCode: \"LEAD_CPF_DUPLICATED\",\n    errors: { \"cpf\": \"A lead with this CPF already exists.\" }\n  }\n: {\n    success: false,\n    status: \"DUPLICATED\",\n    errorCode: \"LEAD_EMAIL_DUPLICATED\",\n    errors: { \"email\": \"A lead with this email already exists.\" }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        32
      ],
      "id": "6fa64355-7ba6-43ec-bad0-f6cdfb95be0d",
      "name": "send_lead_duplicated_response"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "error_logs",
        "messageData": "={{ $json.error_log.toJsonString() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1376,
        240
      ],
      "id": "0de963a3-cd24-4ab3-a7ff-4e375155d150",
      "name": "log_postgres_error",
      "credentials": {
        "redis": {
          "id": "3UvSovRAwaiQe2rV",
          "name": "app_cache"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"success\": false,\n    \"status\": \"LEAD_ERROR\",\n    \"errorCode\": \"INTERNAL_SERVER_ERROR\",\n    \"errors\": {\n        \"email\": \"An unexpected error occurred while saving the lead. Please try again later.\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        240
      ],
      "id": "81065323-bdda-433b-a44f-1006359d0a43",
      "name": "send_postgres_error_response"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  error_log: {\n    \"service\": \"faker_api\",\n    \"input\": {{ $('validate_input').item.json.data.toJsonString() }},\n    \"output\": {{ $json.toJsonString() }},\n    \"timestamp\": {{ $now.toUTC() }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        240
      ],
      "id": "5fb35e36-a020-4976-ab17-c920a66aa0f0",
      "name": "format_postgres_error"
    }
  ],
  "connections": {
    "webhook_trig": {
      "main": [
        [
          {
            "node": "validate_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "persist_lead": {
      "main": [
        [
          {
            "node": "cache_lead_cpf_after_persist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check_persist_lead_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_response": {
      "main": [
        [
          {
            "node": "success_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate_input": {
      "main": [
        [
          {
            "node": "check_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cache_lead_cpf": {
      "main": [
        [
          {
            "node": "send_cpf_duplicated_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cache_lead_email": {
      "main": [
        [
          {
            "node": "send_email_duplicated_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cache_lead_cpf_after_persist": {
      "main": [
        [
          {
            "node": "cache_lead_email_after_persist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cache_lead_email_after_persist": {
      "main": [
        [
          {
            "node": "format_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_input": {
      "main": [
        [
          {
            "node": "check_lead_cpf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_invalid_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send_invalid_response": {
      "main": [
        []
      ]
    },
    "check_persist_lead_error": {
      "main": [
        [
          {
            "node": "cache_lead_cpf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cache_lead_email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "format_postgres_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_lead_email": {
      "main": [
        [
          {
            "node": "check_duplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_lead_cpf": {
      "main": [
        [
          {
            "node": "check_lead_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_duplication": {
      "main": [
        [
          {
            "node": "persist_lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send_lead_duplicated_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log_postgres_error": {
      "main": [
        [
          {
            "node": "send_postgres_error_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_postgres_error": {
      "main": [
        [
          {
            "node": "log_postgres_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1aea90b52e2e83e430f4af89ef5f1e2dc78c47047ff931389bbc349e3f705bc8"
  }
}